.background{
    background-color:rgb(117, 177, 177);
}

.top-right{
    float:right;
    padding-right: 20px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
}

.header{
    background-image: url('background2.jpg');

    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color :rgb(0, 0, 0);
    font-style: solid;
    font-size: 20px;
}

.center{
    padding: 40px;
    /* text-align: center; */
}

.top{
    padding:40px;
}

.box {
    height:100%;
    width: 100%;
    background-color: blue;
    padding: 30%;
}

.column {
    float: left;
    width: 50%;
}

.font{
    font-size: 20px;
}

.line{
    background-color: brown; 
    height: 2px; margin-top: 20px; 
    margin-bottom: 20px;
}

.btn{
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border-width: 1px;
}