.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 200px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0%;
    left: 0;
    /* background-color: darkcyan; */
    background-color:rgb(4, 121, 121);
  }

.sidenav a {
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color:white;
    display: block;
}

.background-color{
    background-color: darkcyan;
    padding: 40px;
}

.main {
    margin-left: 190px; /* Same as the width of the sidenav */
    padding: 10px;
}

.top-right{
    float:right;
    padding-right: 20px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    border-color: black;
}

.header{
    background-image: url('background2.jpg');

    height: 100%;
    width: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    color :rgb(0, 0, 0);
    font-style: solid;
    font-size: 20px;
}

.top{
    padding:40px;
}

.box {
    height:100%;
    width: 100%;
    background-color: blue;
    padding: 30%;
}

.column {
    float: left;
    width: 50%;
}

.font{
    font-size: 20px;
}

.btn{
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px;
    border-width: 1px;
}

.tab1{
    display: inline-block; 
    margin-left: 75px; 
}

.tab2{
    display: inline-block; 
    margin-left: 55px; 
}



